body {
    margin: 53px 1rem 1rem 0;
    padding: 1rem 0 0 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 53px;
    background-color: #2975ac;
}

header > * {
    display: inline;
    vertical-align: middle;
    line-height: 53px;
    height: 53px;
    opacity: 0.8;
    color: #ffffff;
}

header h1 {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1.5rem;
}

header a, header a:focus, header a:hover, header a:active {
    text-decoration: none;
    color: #ffffff;
}

header img {
    vertical-align: middle;
}

header > a:hover, header > h1:hover {
    opacity: 1;
}

footer {
    font-size: smaller;
}

body {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

main, footer {
    width: 100%;
    margin: 0 -1rem;
}

footer, nav, article {
    box-sizing: border-box;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    width: 25%;
}

nav li {
    text-transform: capitalize;
}

article {
    width: 75%;
}

article h2 {
    text-transform: capitalize;
}

section.fields {
    padding: 1em 2em;
    background-color: #f0f0f0;
}

section.fields strong {
    text-transform: capitalize;
}

section.fields p {
    margin: 0;
}

footer {
    clear: both;
}

.bullet {
    margin-right: 1rem;
}
span.yes {
    color: #00c000;
}

span.no {
    color: #c00000;
}
